{% extends "layout.html" %}
{% block main %}
<article>
  <header>
    <img src="{{ url_for('static', filename='images/flasks.jpg') }}" alt="">
  </header>
  <main>
    <h2>Joy & Seb will marry</h2>
    <span>September 2, 2022</span>
    <p>
      Dear Friends and Family,
      
      We are thrilled to announce that we will be getting married on September 2, 2022 at 4:30 pm. We are so excited to spend
      the rest of our lives together and we are so happy to say yes! We hope to see you there to celebrate our special day
      with us!<br>
      Love, <br>
      Joy and Seb<br><br>

    </p>
  </main>
  <footer>
    <button id="btnAdd">Install App</button>
  </footer>
</article>
{% endblock %}
