<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>
  <meta name="description" content="A bootstrap for my Flask projects">
  <meta name="author" content="Luiz Lima">
  <meta name="theme-color" content="transparent">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}">

  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

</head>

<body>

  {% block body %}{% endblock %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
